body {
background-color : #3F3F42;
font-family: helvetica, arial, sans-serif;
color: #EEEEEE;
}

a:hover {
  color: #ABCDEF;
p.attention {
color: red;
font-size: 125%;  
}

  
}
a:visited {
    color: #EEEEEE;
  
  }
