body {
background-color : #0022AA;
font-family: Wingdings 3;
color: #EEEEEE;
}

a:hover {
  color: #ABCDEF;
p.attention {
color: red;
font-size: 125%;  
}

  
}
a:visited {
    color: #EEEEEE;
  
  }
